.navbar-nav {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
	font-family: Roboto Mono;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.dropdown-item {
	font-size: 75% ;
}

.dropdown-menu {
	padding: 7px 15px 7px 0px;
	border-radius: 0;
}