body {
	font-family: Roboto Mono;
}

.my-name {
	color: rgb(200,200,200);
	text-align: center;
	margin: 0 auto;
	font-size: 5vw;
	letter-spacing: 1.4rem;
	line-height: 0.83em;
	padding: 10px 10px;
}

button {
  background:none;
  border:none;
  outline: 0 none;
}

button:focus {
	outline-color: white !important;}

.open-arrow {
	font-size:1.7rem;
}
.rotate {
    -moz-transition: all .6s linear;
	-webkit-transition: all .6s linear;
	transition: all .6s linear;
}

.rotate.down{
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#toggle {
	color: rgb(70,70,70);
}

#aboutproj {
	font: 20px Roboto Mono;
	color: rgb(70,70,70);
}
#project-description {
	display: hidden;
}
.describe-text {
	font: 16px Crimson Text;
}
.describe-title {
	padding: 5px, 0px, 150px, 0px;
}
.panel {
	margin: 0px 0px 15px 0px;
	padding: 30px 40px 15px 40px;
	/*border-top: 2px dotted #8c8b8b;*/
	border-bottom: 2px dotted #8c8b8b;
}